{% extends "layout.html" %}
{% block content %}

<title>Oma tili</title>
<h1>Oma tili</h1>

<p>
{% if session.username %}
Olet kirjautunut nimellä {{ session.username }} <br>
<img src="/show/pfp/{{ session.id }}" alt="Kuva"
width="100"
height="100"/>
<br>
<form action="/change_pfp" method="POST" enctype="multipart/form-data">
    Vaihda kuva:  <input type="file" name="file">
    <input type="submit" value="Lähetä">
    </form>


<a href="/logout">Kirjaudu ulos</a>
<hr>
<h2>Omat julkaisut:</h2>
<releases>
    <ul>
        {% for r in result %}
        <li>
            <div class="container">
                <div class="left">
                    <img src="/show/cover/{{ r.id }}" alt="Kuva" width="50" height="50">
                </div>
                <div class="right">
                    <a href="/release/{{ r.id }}">{{ r.title }}</a>
                </div>
            </div>        
        </li>
        {% endfor %}
    </ul>
</releases> <br>
<a href="/Library">Näytä kaikki</a> <br>

<div class="container">
    <div class="popular-releases">
        Omat arvostelut: <br>
        TODO <br>
        <a href="/account/reviews">Näytä kaikki</a> <br>
    </div>
    <div class="new-releases">
        Omat pisteytykset: <br>
        TODO <br>
        <a href="/account/ratings">Näytä kaikki</a>
    </div>
    {% else %}
    Et ole kirjautunut sisään
    <a href="/login">Kirjaudu sisään</a> tai
    <a href="/create_user">Luo tili</a>
    {% endif %}

{% endblock %}