<a href="/"><img src="../static/kuvat/logo.png" alt="RMD logo"
    width="20"
    height="20"></a> 
<a href="/">RateMyDemo</a>&emsp; &emsp;
{% if session.id %}
<a href="/account"><img src="/show/pfp/{{ session.id }}" alt="Kuva"
    width="20"
    height="20"/></a>
<a href="/account">{{session.username}}</a>&emsp; &emsp;
<a href="/upload">Julkaise</a>&emsp; &emsp;
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
<hr>

<title>Etusivu</title>
<h1>Etusivu</h1>
<b>Tervetuloa</b> <i>RateMyDemoon</i>! <br>
<img src="static/kuvat/logo.png" alt="RMD logo"
width="300"
height="300">
</p>
{% if session.username %}
<img src="/show/pfp/{{ session.id }}" alt="Kuva"
width="50"
height="50"/>
<a href="/account">Oma tili</a> <br>
<a href="/upload">Uusi julkaisu</a>
{% else %}
<a href="/login">kirjaudu sisään</a> </p>
<a href="/create_user">luo tili</a> <p>
{% endif %}
<hr>
Suosituimmat julkaisut: <br>
{% for r in most_popular %}
<img src="/show/cover/{{ r.id }}" alt="Kuva"
width="50"
height="50"/>
<a href="/release/{{r.id}}">{{r.title}} käyttäjältä {{r.username}}</a><br>
Pisteet: {{r.rating|round(1)}}/10 <p>
{% endfor %} <br>
<a href="/releases">Näytä kaikki</a> <p>
<hr>
Uusimmat julkaisut: <br>
{% for r in releases %}
<img src="/show/cover/{{ r.id }}" alt="Kuva"
width="50"
height="50"/>
<a href="/release/{{r.id}}">{{r.title}} käyttäjältä {{r.username}}</a><br>
<p>
{% endfor %}

<a href="/releases">Näytä kaikki</a> </p>