{% extends "layout.html" %}
{% block content %}

<title>Omat julkaisut</title>
<h1>Omat julkaisut</h1>

{% if session.id %}

Järjestä: <a href="/own_releases/rating_desc">Pisteet (paras ensin)</a>
Järjestä: <a href="/own_releases/rating_asc">Pisteet (huonoin ensin)</a>
Järjestä: <a href="/own_releases/id_desc">Julkaisupäivä (uusin ensin)</a>
Järjestä: <a href="/own_releases/id_asc">Julkaisupäivä (vanhin ensin)</a>
Järjestä: <a href="/own_releases/title">Nimi (nouseva)</a>
Järjestä: <a href="/own_releases/title_desc">Nimi (laskeva)</a>
<hr>

<releases>
    <ul>
        {% for r in releases %}
        <li>
            <div class="container">
                <div class="left">
                    <img src="/show/cover/{{ r.id }}" alt="Kuva"
                    width="100"
                    height="100"/>
                </div>
                <div class="right">
                    {% if r.rating %}
                    <a href="/release/{{r.id}}">{{r.title}}<br>Käyttäjältä {{r.username}}
                        <br>Pisteet: {{r.rating|round(1)}}/10
                        {% if r.date %}
                        <br>{{r.date.strftime("%Y-%m-%d")}}
                        {%endif%}
                    </a>
                    {% else %}
                    <a href="/release/{{r.id}}">{{r.title}}<br>Käyttäjältä {{r.username}}
                        <br>Ei pisteytetty
                        {% if r.date %}
                        <br>{{r.date.strftime("%Y-%m-%d")}}
                        {%endif%}
                    {% endif %}
                </a>
                </div>
            </div>
            <form action="/delete_release" method="post">
                <input type="hidden" name="id" value={{r.id}} />
                <input type="hidden" name="path" value="/own_releases/" />
                <input type="submit" value="Poista julkaisu" onclick="return confirm('Haluatko varmasti poistaa tämän julkaisun?')" />
              </form><br>
        </li>
        {% endfor %} <hr>
    </ul>
</releases>

{%else%}
    Et ole kirjautunut sisään
    <a href="/login">Kirjaudu sisään</a> tai
    <a href="/create_user">Luo tili</a>
{% endif %}

{% endblock %}