{% extends "layout.html" %}
{% block content %}

<title>Kaikki julkaisut</title>
<h1>Kaikki julkaisut</h1>
<form action="/releases/search" method="POST">
    <p>Hae julkaisuja:<br>
    <input type="text" name="query"></p>
    <input type="submit" value="Hae">
    </form>

Järjestä: <a href="/releases/rating_desc">Pisteet (paras ensin)</a>
Järjestä: <a href="/releases/rating_asc">Pisteet (huonoin ensin)</a>
Järjestä: <a href="/releases/id_desc">Julkaisupäivä (uusin ensin)</a>
Järjestä: <a href="/releases/id_asc">Julkaisupäivä (vanhin ensin)</a>
Järjestä: <a href="/releases/title">Nimi (nouseva)</a>
Järjestä: <a href="/releases/title_desc">Nimi (laskeva)</a>
<hr>
{% for r in data %}
<img src="/show/cover/{{ r.id }}" alt="Kuva"
width="50"
height="50"/>
<a href="/release/{{r.id}}">{{r.title}} käyttäjältä {{r.username}}</a> <br>
{% if r.rating %}
Pisteet: {{r.rating|round(1)}}/10 <br>
{% else %}
Ei pisteytetty <br>
{% endif %}
{% endfor %} <hr>

{% endblock %}