{% extends "layout.html" %}
{% block content %}

<title>Haun tulokset</title>
<h1>Haun tulokset</h1>
<form action="/releases/search" method="POST">
    <p>Hae julkaisuja:<br>
    <input type="text" name="query"></p>
    <input type="submit" value="Hae">
    </form>
<a href="/releases">Kaikki julkaisut</a>

KORJAA NÄMÄ: <br>
Järjestä: <a href="/releases/rating_desc">Pisteet (paras ensin)</a>
Järjestä: <a href="/releases/rating_asc">Pisteet (huonoin ensin)</a>
Järjestä: <a href="/releases/id_desc">Julkaisupäivä (uusin ensin)</a>
Järjestä: <a href="/releases/id_asc">Julkaisupäivä (vanhin ensin)</a>
Järjestä: <a href="/releases/title">Nimi (nouseva)</a>
Järjestä: <a href="/releases/title_desc">Nimi (laskeva)</a>
<hr>

<releases>
    <ul>
        {% for r in data %}
        <li>
            <div class="container">
                <div class="left">
                    <img src="/show/cover/{{ r.id }}" alt="Kuva"
                    width="100"
                    height="100"/>
                </div>
                <div class="right">
                    {% if r.rating %}
                    <a href="/release/{{r.id}}">{{r.title}}<br>Käyttäjältä {{r.username}}
                        <br>Pisteet: {{r.rating|round(1)}}/10 </a>
                    {% else %}
                    <a href="/release/{{r.id}}">{{r.title}}<br>Käyttäjältä {{r.username}}
                        <br>Ei pisteytetty </a>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %} <hr>
    </ul>
</releases>

{% endblock %}