{% extends "layout.html" %}
{% block content %}

<title>Haun tulokset</title>
<h1>Haun tulokset</h1>
<form action="/search" method="POST">
    <p>Hae julkaisuja:<br>
    <input type="text" name="query"></p>
    <input type="submit" value="Hae">
    </form>
<h2><a href="/releases">Kaikki julkaisut</a></h2>
<h3>Järjestä: </h3>
<a href="/releases/{{query}}/rating_desc">Pisteet (paras ensin)</a>, 
<a href="/releases/{{query}}/rating_asc">Pisteet (huonoin ensin)</a> <br>
<a href="/releases/{{query}}/id_desc">Julkaisupäivä (uusin ensin)</a>, 
<a href="/releases/{{query}}/id_asc">Julkaisupäivä (vanhin ensin)</a><br>
<a href="/releases/{{query}}/title">Nimi (nouseva)</a>, 
<a href="/releases/{{query}}/title_desc">Nimi (laskeva)</a>
<hr>

<releases>
    <ul>
        {% for r in data %}
        <li>
            <div class="container">
                <div class="left">
                    <img src="/show/cover/{{ r.id }}" alt="Kuva"
                    width="100"
                    height="100"/>
                </div>
                <div class="right">
                    <a href="/release/{{r.id}}">{{r.title}}<br>Käyttäjältä {{r.username}}
                    {% if r.rating %}
                        <br>Pisteet: {{r.rating|round(1)}}/10
                    {% else %}
                        <br>Ei pisteytetty
                    {% endif %}
                    {%if r.date %}
                        <br> {{r.date.strftime("%Y-%m-%d")}}
                    {% endif %}
                    </a>
                </div>
            </div>
        </li>
        {% endfor %} <hr>
    </ul>
</releases>

{% endblock %}