<a href="/"><img src="../static/kuvat/logo.png" alt="RMD logo"
    width="20"
    height="20"></a> 
<a href="/">RateMyDemo</a>&emsp; &emsp;
{% if session.id %}
<a href="/account"><img src="/show/pfp/{{ session.id }}" alt="Kuva"
    width="20"
    height="20"/></a>
<a href="/account">{{session.username}}</a>&emsp; &emsp;
<a href="/upload">Julkaise</a>&emsp; &emsp;
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
<hr>
<title>Julkaise</title>
<h1>Julkaise</h1>

<form action="/upload2" method="POST" enctype="multipart/form-data">
    <p>Julkaisun nimi:<br>
    <input type="text" name="title"></p>
    <p>Genre:<br>
    <input type="text" name="genre"></p>
    <p>Äänitiedosto:<br>
    <input type="file" name="file">
    <p>Kansikuva:<br>
    <input type="file" name="cover">
    <input type="submit" value="Lataa julkaisu">
    </form>